.banner {
 background-color: #1D3748;
 color: #ffffff;
 height: 100%;
}

.logoimage {
  width: 150px;
  length: 150px;
  position: relative;
  left: 0em;
}

h3.bannermessage {
  text-align: left;
  padding-left: 20%;
  color: #3DAEBA;
  font-size: 24px;
  font-weight: 400;
}

h1.bannermessage {
  padding-top: 100px;
  padding-left: 40px;
  text-align: left;
  color: #1D3748;
  font-size: 56px;
  font-weight: 700;
}

body {
  font-family: 'Open sans', sans-serif;

}

.backgroundimage{
  background-image: url("../image/loginbackground.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.loginborder{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 2em;
}

#signupbox{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: -10em;
}

p.bannermessage{
  padding-left:20%;
  font-size: 16px;
  color: #1C3648;

}

.loginbutton {
  margin:10px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
}

input[type=text], select {
    width: 100%;
    padding: 2px 4px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#welcomemessage {
  text-align: right;
}

.sidebarprofile {
  background-color: #1D3748;
  height: 20em;
}


.bannertitletext {
  font-size: 5em;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 350px}

/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
}


/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}
