.banner {
 background-color: #707E93;
 color: #ffffff;
 height: 100%;
}

.logoimage {
  width: 150px;
  length: 150px;
}

body {
  font-family: proxima-nova;
}

#welcomemessage {
  text-align: right;
}

.sidebarprofile {
  background-color: #1D3748;
  height: 20em;
}

.center {
    display: block;
    margin: 0 auto;
}

.bannertitletext {
  font-size: 5em;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 350px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #1D3748;
  height: 100%;
}

#profilename {
  color: #ffffff;
  text-align: center;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}
